<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rivamed.nbm.permissions.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.michaelia.emma.entity.sys.SysRole">
		<result column="id" property="id" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="remark" property="remark" />
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id,
		create_time,
		create_by,
		update_by,
		update_time,
		role_name,
		role_code,
		remark
	</sql>

	<select id="getRoleByUser" resultMap="BaseResultMap">
		SELECT sr.*
		FROM sys_user_role sur
		LEFT JOIN sys_role sr ON sur.role_id = sr.id
		WHERE sur.user_id = #{userId}
	</select>

	<select id="getUserRoleNoLogin" parameterType="string" resultMap="BaseResultMap">
		SELECT r.*
		FROM sys_role r
		INNER JOIN sys_user_role ur ON r.id = ur.role_id
		INNER JOIN sys_user u ON ur.user_id = u.id
		WHERE u.job_no = #{jobNo}
	</select>
</mapper>
